@page
@model JpApp.Pages.Index
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="searchBy">Search By</label>
    <select class="form-select" id="searchBy" asp-for="SearchParams.SearchBy">
        <option value="" selected>Choose...</option>
        <option value="Name">Name</option>
        <option value="Age">Age</option>
        <option value="Gender">Gender</option>
        <option value="EmailAddress">Email Address</option>
    </select>

    <input type="text" id="keyword" class="form-control" asp-for="SearchParams.Keyword">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Search</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Name&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Name&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Age
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Age&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Age&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Gender
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=Gender&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=Gender&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Email Address
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=EmailAddress&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/index?sortBy=EmailAddress&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.EmailAddress</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        @{
            var paramString = "sortBy=" + Model.SearchParams!.SortBy + "&sortAsc=" + Model.SearchParams!.SortAsc + "&keyword=" + Model.SearchParams!.Keyword + "&searchBy=" + Model.SearchParams!.SearchBy;
        }
        @{
            if (Model.SearchParams!.PageIndex > 1)
            {
                int prev = 1;
                prev = (Model.SearchParams!.PageIndex!.Value - 1) < 1 ? 1 : (Model.SearchParams!.PageIndex!.Value - 1);

                <li class="page-item">
                    <a class="page-link" href="~/index?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(prev)">Previous</a>
                </li>
            }
        }
        <li class="page-item active"><a class="page-link" href="#">@Model.SearchParams.PageIndex of @(Model.SearchParams!.PageCount)</a></li>
        @{
            if (Model.SearchParams!.PageIndex < Model.SearchParams.PageCount)
            {

                int next = 1;
                next = (Model.SearchParams!.PageIndex!.Value + 1) > Model.SearchParams!.PageCount ? Model.SearchParams!.PageCount.Value : (Model.SearchParams!.PageIndex!.Value + 1);

                <li class="page-item">
                    <a class="page-link" href="~/index?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(next)">Next</a>
                </li>
            }
        }
    </ul>
</nav>

@section Scripts {
    <script>
        function search() {
            window.location = "../index?sortBy=Name&sortAsc=false&searchBy=" + $("#searchBy").val() + "&keyword=" + $("#keyword").val()
        }
    </script>
}
